*{
margin: 0;
padding: 0;
font-family: sans-serif, serif;
box-sizing: border-box;
}



body{
    margin: 0px;
    background: black;
    color: #c71e1e;
}


h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color:rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
color: rgb(178, 18, 18);
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}
.navbar a:hover{
    background-color:rgb(35, 35, 35);
}
.navbar li{
float: left;
}
